@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/IBMPlexSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
}
