$ringSize: 2.75rem;
$ringWidth: 0.15rem;
$dotSize: 0.5rem;
$filledSize: $ringSize - (2 * $ringWidth);
$finishedSize: $filledSize - (2 * $ringWidth);

.kudosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#kudosText {
  margin-left: 0.5rem;
}

.kudosCircle {
  border-radius: 100%;
}

.kudosCircle.empty {
  width: $dotSize;
  height: $dotSize;
  background-color: red;
  transition: 1s;
}

.kudosCircle.empty:hover {
  height: $filledSize;
  width: $filledSize;
  transition: 1s;
}

.kudosCircle.filled {
  width: $finishedSize;
  height: $finishedSize;
  background-color: seagreen;
  transition: 0.2s;
}

.kudosRing {
  width: $ringSize;
  height: $ringSize;
  border-width: $ringWidth;
  border-style: solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kudosRing.empty {
  border-color: red;
}

.kudosRing.filled {
  border-color: seagreen;
}

// CODE BLOCK STUFF

.highlight-wrapper {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

.highlight-link {
  position: absolute;
  bottom: 0;
  right: 0;
}